<!doctype html>
<html lang="en">

	{% include "components/head.njk" %}
	
	


	<body>
		<div id="page" class="ad"> 
			
			<main>
				{{ layoutContent | safe }}
			</main>


		</div>
	</body>

</html>
