

@keyframes up-and-down {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}


@keyframes come-up {
  to { transform: translateY(0); opacity: 1; }
}
@keyframes come-down {
  to { transform: translateY(50px); opacity: 0; }
}

.nod {
	display: none !important;
}

%cf{
	&:before, &:after { content: ""; display: table; clear: both; } 
}

%bg {
	position: relative;
	&:before { 
		content: '';
		display: block;
		position: absolute;
		width: 200vw;
		height: 100%;
		left: -50vw;
		top: 0;
		z-index: -1;
	}
}

%grey-bg {
	@extend %bg;
	&:before {  
		background-color: $cBg;
	}
}

%white-bg {
	@extend %bg;
	&:before {  
		background-color: $cBgw;
	}
} 

%yellow-bg {
	@extend %bg;
	&:before {  
		background-color: $cY;
	}
}

%has-arrow {
	position: relative;
	padding-right: 40px;// !important;

	&:after, &:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 4px;
		right: 0;
		width: 20px;
		height: 20px; 
		transition: opacity 0.2s ease; 
	}
	
	&:before {
		opacity: 1; 
		background: url('/static/img/arrow-next.svg') no-repeat right center transparent; 
		background-size: 11px 18px;
	}

	&:after{
		opacity: 0; 
		background: url('/static/img/arrow-next-active.svg') no-repeat right center transparent; 
		background-size: 11px 18px;
	}

	&.back {
		&:after, &:before { 
		}

		&:before { 
			background: url('/static/img/arrow-prev.svg') no-repeat left center transparent; 
			background-size: 11px 18px;
		}

		&:after{ 
			background: url('/static/img/arrow-prev-active.svg') no-repeat left center transparent; 
			background-size: 11px 18px;
		}

	}		 

	

	&:focus, &:hover {
		&:after{
			opacity: 1;
		}
	}
}

%ico {
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.2s ease;
		opacity: 0;
	}

	&:focus, &:hover {
		&:after{
			opacity: 1;
		}
	}
}
 
h2 a {
	display: inline-block;
    border: none;
    background: $cBlue;
    background-repeat: no-repeat;
    background-position: right 25px center; 
    border: none;
    color: $cw;
    text-align: left;
    padding: 10px 15px;
    margin: 0px 0px  40px;
    font-size: 19px; 
    transition: background-color 0.3s ease-out, background-position 0.3s ease-out, border-color 0.3s ease-out, color 0.3s ease-out; 
    line-height: 1.43; 
    -moz-appearance: none;
    -webkit-appearance: none;
	background-image: url('/static/img/arrow-white.svg'); 
	background-size: 11px 18px;
	padding-right: 50px;

	&:hover{
		background-position: right 20px center; 
        color: $cw;
    }
	
} 

.btn {
    display: inline-block;
    border: none;
    background: $cBlue;
    background-repeat: no-repeat;
    background-position: right 25px center; 
    border: none;
    color: $cw;
    text-align: left;
    padding: 10px 15px;
    margin: 0px 0px  40px;
    font-size: 19px; 
    transition: background-color 0.3s ease-out, background-position 0.3s ease-out, border-color 0.3s ease-out, color 0.3s ease-out; 
    line-height: 1.43; 
    -moz-appearance: none;
    -webkit-appearance: none;

    &:hover{
        background-color: $cBlueHover; 
        color: $cw;
    }
 	
    &.fw {
        width: 100%;
    }
    
    &.disabled {
        pointer-events: none; 
    }

    &.arrow {
    	background-image: url('/static/img/arrow-white.svg'); 
		background-size: 11px 18px;
		padding-right: 50px;

		&:hover{
			background-position: right 20px center; 
		}

    }
 

    + .btn { 
    }

    @include respond-to(mobile-only) {   
    }
    

    @include respond-to(tablet-portrait) {    
    }

    @include respond-to(tablet-landscape) {    
    }
}

.ad{
	display: block;

	img {
		width: 100%;
	    height: 100vh; 
	    height: calc(var(--vh, 1vh) * 100);
    	transition: 1s;  
	    object-fit: cover;
	}

	&.fullheight{ 
		width: 100%;
		height: calc(100vh); 
		height: calc(var(--vh, 1vh) * 100);
		transition: 1s;
		&.fixed{ 
			width: 100%;
			height: calc(100vh); 
			height: calc(var(--vh, 1vh) * 100);
			transition: 1s;
			position: fixed;
			left: 0;
			/*
			left: 50%;; 
			max-width: $max-width + 2*$gutter-width;
			transform: translate(-50% 0px);
			*/
			top: $headerHeight; 
		}
	}

}

h1 {
	+ .add{
		&.halfheight:not(.fixed){
			margin-top: -1*$gutter-width;
		}
	}
}



.video-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden;
	margin: 20px 0px;
	float: left;
	clear: both;
	width: 100%;
	
	iframe, object, embed, video, img {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%;
		object-fit: cover;
		z-index: 5;
	} 

	img {
		z-index: 1;
	}

	a {
		display: block;
		width: 48px;
		height: 48px;
		background-color: $cw;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:after, &:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%; 
			transition: opacity 0.2s ease; 
		}
		
		&:before {
			opacity: 1; 
 			background: url('/static/img/arrow-next.svg') no-repeat center center transparent; 
			background-size: 11px 18px;
		}

		&:after{
			opacity: 0; 
			background: url('/static/img/arrow-next-active.svg') no-repeat center center transparent; 
			background-size: 11px 18px;
		}  

		&:focus, &:hover {
			&:after{
				opacity: 1;
			}
		}
 
	}

	@include respond-to(tablet-portrait) {  
		a {
			width: 60px;
			height: 60px;

		}
	}
}


img + br + em,a + br + em {
    display: block;
	padding-top: 15px;
	font-family: $font-family-light;
	line-height: 1.68; 
	color: $cSecondary;
	max-width: 80%;
}

figure {
	@extend %cf;
	display: block;
	margin-bottom: 20px; 

	img {
		display: block;
		width: 100%;
		height: auto;
		float: left;
	}

	figcaption {
		display: block;
		float: left;
		padding-top: 15px;
		font-family: $font-family-light;
		line-height: 1.68; 
	  	color: $cSecondary;
	  	max-width: 80%;
	}
}

/* Screen reader only */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.navigation{ 
	z-index: 99;  
	position: fixed;
	bottom: 50px;
	height: 50px;

	left: 0px;
	right: 0px;

	width: 100%;  
	max-width: $max-width;
	//transform: translate(-50% 0px);
	pointer-events: none;
	margin: auto;

	a {
		@extend %has-arrow;
		pointer-events: auto;
		display: block;
		height: 50px; 
		line-height: 50px;
		position: absolute;
		top: 0;
		background: $cBgw;

		&:after, &:before {
			bottom: 15px;
			transition: right 0.3s ease; 
		}
	}

	.back{
		left: 0;
		width: 60px;
		&:after, &:before {
			right: 5px;
		}

		&:hover{
			&:after, &:before {
				right: 10px;
			}
		}
	}

	.next {
		right: 0;
		padding: 0px 50px 0px 10px;
		&:after, &:before {
			right: 25px;
		}

		&:hover{
			&:after, &:before {
				right: 30px;
			}
		}
	}

	@include respond-to(tablet-portrait) {  
		max-width: $max-width + 80px;

		.next { 
			padding: 0px 60px 0px 10px;
			&:after, &:before {
				right: 35px;
			}
		}

	} 
}