// Variables ===================================================================================== /

$cb: #000; 
$cw: #fff;
 
$cPrimary:		#252525;   
$cSecondary:	#888888;
$cLink: 		#4400ff;  
$cLinkHover:	#3500c5;
$cBg:			#eeeee7; 
$cBgw:			#ffffff; 
$cText:			#666666;

$cBlue:			#4400ff;
$cBlueHover:	#3500c5;
$cY:			#ffff00;

$font-family-headings:  'AvenirNextW06', sans-serif;
$font-family:      		'AvenirNextW06', sans-serif; 
$font-family-light:     'AvenirNextW06-Regular', sans-serif;
$font-family-bold:      'AvenirNextW06', sans-serif; 
$font-family-serif:     Georgia, "Times New Roman",Times, serif; 
 
$headerHeight: 			105px;
$headerHeightCollapsed: 70px;
  
$font-size:     		19px;
$vertical-measure: 		1em; 
$line-height: 			1.25;

$max-width:     		637px;  

$gutter-width:	   		30px;     // set gutter width
$gutter-double-width:	60px;     // set gutter width
$gutter-half-width:	   	15px;     // set gutter width

$minw-mp: 		   		320px; 
$minw-mxl: 		   		375px;  
$minw-ml:			    480px;  
$minw-tp: 		   		750px;  
$minw-tl:		  		1024px;  
$minw-d: 				1100px;    
$minw-dxl: 				1400px;  